<!DOCTYPE html>
<html lang="en">

<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2G08CZFFVB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2G08CZFFVB');
</script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>AI Localism</title>

  <link href="/images/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/kad3hcl.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/maps.js"></script>
  <script src="https://www.amcharts.com/lib/4/geodata/continentsLow.js"></script>
  <script src="https://www.amcharts.com/lib/4/plugins/bullets.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
  <script src="https://kit.fontawesome.com/f713a12e61.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="homepage">
  <!-- Top Navigation Menu -->
  <!-- Top Navigation Menu -->
  <div class="topnav">
    <div class="menu-bars">
      <div class="bar-wrap">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <a class="top_logo" href="#home"><img src="images/govlab-logo-white.png" alt="The GovLab"></a>
    <!-- Navigation links (hidden by default) -->
    <div class='lang-select'>

    </div>
  </div>
  <div id="myLinks">
    <div class="menu-items">
      <div class="menu-sub" onclick="dismiss_menu()"><a href="#">Home</a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href="https://ailocalism.org#about">About</a></div>
      <div class="menu-sub" onclick="dismiss_menu()"> <a href="https://ailocalism.org#projects">Projects and Publications</a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href="https://ailocalism.org#whatwedo">What We Do</a></div>
      <div class="menu-sub" onclick="dismiss_menu()"><a href="https://ailocalism.org#team">Team</a></div>
    </div>
  </div>

  <div class="repo-header">
    <div class="">
      <a href="/index.html"><img class="" src="images/ai localism logo 1b-2-semibold.png"
          alt="AI Localism logo"></a>
    </div>
    <p>A growing repository of projects applying AI localism principles across the world.</p>

  </div>
  <div class="share-header">
    <p>Share your project for inclusion. We seek to learn from public sector initiatives that embody AI localism practices.</p>
    <div class="buttons">
    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSftmj-O2B2ghbrcPHYbAFVb39Uzxz1p0V9kjT0x28gNUM2R_Q/viewform">Contribute to this repository</a>
    <a target="_blank" href="https://ailocalism.org">Back to AI Localism</a>
    </div>
  </div>
  
  <div id="home-page">
    <div class="expert-map">
      <div class="expert-countries">
        <div class="expert-country-item">
          <p class="expert-number">{{na_count}}</p>
          <p class="expert-location">North America</p>
        </div>
        <div class="expert-country-item">
          <p class="expert-number">{{lac_count}}</p>
          <p class="expert-location">Latin America and the Caribbean</p>
        </div>
        <div class="expert-country-item">
          <p class="expert-number">{{mena_count}}</p>
          <p class="expert-location">Middle East and North Africa</p>
        </div>
        <div class="expert-country-item">
          <p class="expert-number">{{eu_count}}</p>
          <p class="expert-location">Europe and Central Asia</p>
        </div>
      </div>
      <div id="chartdiv"></div>

      <div class="expert-countries">

        <div class="expert-country-item">
          <p class="expert-number">{{ssa_count}}</p>
          <p class="expert-location">Sub-Saharan Africa</p>
        </div>
        <div class="expert-country-item">
          <p class="expert-number">{{eap_count}}</p>
          <p class="expert-location">East Asia and Pacific</p>
        </div>
        <div class="expert-country-item">
          <p class="expert-number">{{sa_count}}</p>
          <p class="expert-location">South Asia</p>
        </div>
        <div class="expert-country-item">
          <p class="expert-number">{{cct_count}}</p>
          <p class="expert-location">Global Initiatives</p>
        </div>
      </div>
      <div class="mobile-only">
      <div class="expert-countries-mobile">
        <div class="expert-country-item">
          <p class="expert-number">{{na_count}}</p>
          <p class="expert-location">North America</p>
        </div>
        <div class="expert-country-item">
          <p class="expert-number">{{lac_count}}</p>
          <p class="expert-location">Latin America and the Caribbean</p>
        </div>
        <div class="expert-country-item">
          <p class="expert-number">{{mena_count}}</p>
          <p class="expert-location">Middle East and North Africa</p>
        </div>
        <div class="expert-country-item">
          <p class="expert-number">{{eu_count}}</p>
          <p class="expert-location">Europe and Central Asia</p>
        </div>
      </div>
      <div class="expert-countries-mobile">

        <div class="expert-country-item">
          <p class="expert-number">{{ssa_count}}</p>
          <p class="expert-location">Sub-Saharan Africa</p>
        </div>
        <div class="expert-country-item">
          <p class="expert-number">{{eap_count}}</p>
          <p class="expert-location">East Asia and Pacific</p>
        </div>
        <div class="expert-country-item">
          <p class="expert-number">{{sa_count}}</p>
          <p class="expert-location">South Asia</p>
        </div>
        <div class="expert-country-item">
          <p class="expert-number">{{cct_count}}</p>
          <p class="expert-location">Global Initiatives</p>
        </div>
      </div>
      </div>
    </div>
    <div id="filter-div" class="filters">
      <div class="form-control">
        <select id="form-1" @change="changeFilter($event)">
          <option class="material-icons" value="" selected disabled>Region</option>
          <option v-for="region in js_region" :value="region.code" :key="region.code">{{ region.name }}
          </option>
        </select>
      </div>
      <div class="form-control">
        <select id="form-2" @change="changeFilter($event)">
          <option class="material-icons" value="" selected disabled>Type</option>
          <option v-for="type in js_type" :value="type.code" :key="type.code">{{ type.name }}
          </option>
        </select>
      </div>
      <div class="form-control">
        <select id="form-3" @change="changeFilter($event)">
          <option class="material-icons" value="" selected disabled>Mechanism</option>
          <option v-for="mechanism in js_mechanism" :value="mechanism.code" :key="mechanism.code">{{ mechanism.name }}
          </option>
        </select>
      </div>
      <div class="form-control">
        <select id="form-4" @change="changeFilter($event)">
          <option value="" selected disabled>Focus</option>
          <option v-for="focus in js_focus" :value="focus.code" :key="focus.code">{{ focus.name }}
          </option>
        </select>

      </div>
    </div>

    <div class="search">
      <input name="search-bar" type="text" id="search-text" placeholder="Search" />
      <input name="buttonExecute" @click="searchItems()" type="button" value="Search" />
      <input name="buttonExecute" @click="ResetItems()" type="button" value="Reset" />
    </div>

    <div class="table expert-map-page">
      <div class="no-project" v-if="!filterData.length" v-cloak>
        Sorry no experts found for the filter criteria you selected!
      </div>
      <div class="table-header">
        <div class="row-equal-11">
          <h2>Name</h2>
        </div>
        <div class="row-equal-12">
          <h2>Description</h2>
        </div>
      </div>
      <div v-for="expert in filterData" class="table-row">
        <div class="row-equal-11">
          <h3>{{expert.title}}</h3>
          <h4>Region</h4>
          <div class="tag-list">
            
            <div class="region-tag" v-for="region_item in expert.region">
              <p v-if="region_item == 'na'"><span>North America</span></p>
              <p v-if="region_item == 'mena'"><span>Middle East and North Africa</span></p>
              <p v-if="region_item == 'lac'"><span>Latin America and the Caribbean</span></p>
              <p v-if="region_item== 'afr'"><span>Africa</span></p>
              <p v-if="region_item== 'eu'"><span>Europe and Central Asia</span></p>
              <p v-if="region_item == 'eap'"><span>East Asia and Pacific</span></p>
              <p v-if="region_item== 'sa'"><span>South Asia</span></p>
              <p v-if="region_item== 'ssa'"><span>Sub-Saharan Africa</span></p>
              <p v-if="region_item == 'cct'"><span>Challenges and Conferences and Tools</span></p>
            </div>
          </div>
          <h4>Type</h4>
          <div class="tag-list">
            
            <div class="type-tag"  v-for="type_item in expert.type">
              <p v-if="type_item == 'governance-ai'"><span>Innovation in Governance of AI</span></p>
              <p v-if="type_item == 'governance'"><span>Innovation in Government</span></p>
              <p v-if="type_item == 'tech'"><span>Innovation in Technology</span></p>
              <p v-if="type_item == 'covid'"><span>COVID-19</span></p>
            </div>
          </div>
          <h4>Mechanism</h4>
          <div class="tag-list">
            
            <div class="mechanism-tag"  v-for="mechanism_item in expert.mechanism">
              <p v-if="mechanism_item == 'process'"><span>Processes</span></p>
              <p v-if="mechanism_item == 'procurement'"><span>Procurement</span></p>
              <p v-if="mechanism_item == 'policies'"><span>Policies</span></p>
              <p v-if="mechanism_item == 'principles'"><span>Principles</span></p>
            </div>
          </div>
          <h4>Focus</h4>
          <div class="tag-list">
            
            <div class="focus-tag"  v-for="focus_item in expert.focus">
              <p v-if="focus_item == 'accountability'"><span>Accountability</span></p>
              <p v-if="focus_item == 'responsibility'"><span>Responsibility</span></p>
              <p v-if="focus_item == 'participation'"><span>Participation and Engagement</span></p>
              <p v-if="focus_item == 'transparency'"><span>Transparency</span></p>
              <p v-if="focus_item == 'explainability'"><span>Explainability</span></p>
              <p v-if="focus_item == 'consent'"><span>Consent</span></p>
              <p v-if="focus_item == 'privacy'"><span>Privacy</span></p>
              <p v-if="focus_item == 'standardization'"><span>Standardization</span></p>
              <p v-if="focus_item == 'aiethics'"><span>AI Ethics</span></p>
              <p v-if="focus_item == 'procure'"><span>Procurement</span></p>
            </div>
          </div>
        </div>

        <div class="row-equal-12">
          <div v-html="expert.description"></div>
        </div>


      </div>
    </div>
  </div>
</body>
<footer>
  <div class="footer-row">
    <div class="footer-col">
      <h4>CONTACT US</h4>
      <p>The GovLab <br> NYU Tandon School of Engineering<br>2 MetroTech Center, 9th Floor<br>Brooklyn, NY 11201</p>
    </div>
    <div class="footer-col">
      <h4><br></h4>
      <p><i class="e-social-media-item fa fa-phone"></i>&nbsp (646) 997-3150</p>
      <a><i class="e-social-media-item fa fa-envelope"></i>&nbsp info@thegovlab.org</a>
    </div>
    <div class="footer-col">
      <h4>FOLLOW US</h4>
      <a href="https://twitter.com/TheGovLab" target="_blank"><i class="e-social-media-item fa fa-twitter"
          aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/thegovlab/" target="_blank"><i class="e-social-media-item fa fa-facebook"
          aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/company/3288504" target="_blank"><i class="e-social-media-item fa fa-linkedin"
          aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="footer-row tandon">
    
    <img id="tandon" src="images/govlab-logo-white.png">
    <img id="tandon" src="images/tandon_long_white.png">
    <img id="tandon" src="images/urban-ai-logo.png">
  </div>
  <div class="footer-row privacy-statement">
    <p>The GovLab is committed to respecting your privacy and abides by all the practices and principles outlined by
      New York University in its Digital Privacy Statement. For more information, please review the full statement <a
        href="https://www.nyu.edu/footer/copyright-and-fair-use/digital-privacy-statement.html"
        target="_blank">here.</a></p>
  </div>
</footer>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>

<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function dismiss_menu() {
    var x = document.getElementById("myLinks");
    x.style.display = "none";
  }
</script>
<script src="js/fadein.js"></script>
<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="js/maps.js"></script>

</html>